<app-section-background data="Renkler"></app-section-background>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-3">
            <input placeholder="Renk Ara" type="text" class="form-control" [(ngModel)]="colorFilter">
        </div>
        <div class="col-md-4">
            <button routerLink="/color/add" class="btn btn-outline-success">
                <span>Renk Ekle</span></button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table  table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Renk Adı</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let color of colors | colorFilterPipe:colorFilter">
                        <td>{{color.id}}</td>
                        <td>{{color.name}}</td>
                        <td class="td-button">
                            <button 
                            routerLink="/color/update/{{color.id}}" 
                            class="btn btn-outline-primary">
                            <i class="fas fa-pencil-alt"></i> Güncelle</button>
                            <button 
                            type="button"
                            (click)="deleteColor(color.id)"
                           
                            class="btn btn-outline-danger"
                            >
                                <i class="fas fa-trash-alt"></i> Sil
                            </button>

                             
                        </td>
                        <!-- <td>
                           
                            <div class="modal fade text-dark text-dark" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Rengi silmek istiyor musunuz?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="closemodal"
                                            data-dismiss="modal">Kapat</button>
                                        
                                        <div id="submit">
                                           <button 
                                           (click)="deleteColor(color.id)"
                                           class="btn btn-outline-danger"
                                           >
                                               <i class="fas fa-trash-alt"></i> Sil
                                           </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


