<app-section-background 
data="Profil"
></app-section-background>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="updateUserForm">
                <div class="form-group">
                    <label for="firstName">Adınız</label>
                    <input class="form-control" formControlName="firstName" type="text" name="firstName" id="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Soyadınız</label>
                    <input class="form-control" formControlName="lastName" type="text" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email Adresiniz</label>
                    <input class="form-control" formControlName="email" type="text" name="email" id="email">
                </div>
                <button (click)="update()" class="btn btn-outline-primary" type="submit">Güncelle</button>
            </form>
        </div>
    </div>
</div>