<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h5>
                        <a class="brand-logo" routerLink="/">
                            <i class="fas fa-car"></i> Ozi Rent a Car
                        </a>
                    </h5>

                    <p>
                        Kalitenin, varılması gereken bir hedeften çok, gelişme ve süreklilik göstermesi gereken bir
                        süreç olduğuna inanmaktayız. Bu düşünce çerçevesinde; müşteri memnuniyetini ana hedef olarak
                        benimseyen şirketimiz, siz değerli müşterilerimize en iyi hizmeti sağlamaktadır.
                    </p>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="widget">
                    <h5>Sayfalar</h5>
                    <ul>
                        <li>
                            <a routerLink="/">Ana Sayfa</a>
                        </li>
                        <li>
                            <a routerLink="car-page">Araçlar</a>
                        </li>
                        <li>
                            <a routerLink="brand">Markalar</a>
                        </li>
                        <li>
                            <a routerLink="color">Renkler</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h5>İletişim</h5>
                    <ul>
                        <li>
                            <span>
                                <i class="fas fa-home"></i>
                            </span>
                            Merkezefendi / DENİZLİ
                        </li>
                        <li>
                            <span>
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <a href="mailto:oguzhanyalcinkayaa@gmail.com"> Oguzhanyalcinkayaa@gmail.com</a>
                        </li>
                        <li>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25230.863334240457!2d29.0907619!3d37.7699296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c73fabe6d332cf%3A0x9196477022aa1f1b!2zw4fEsW5hciBNZXlkYW7EsSDwn5CT!5e0!3m2!1str!2str!4v1618387332121!5m2!1str!2str"
                                width="300" height="200" style="border:0;" allowfullscreen=""></iframe>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding: 10px 0;" class="col-md-12 text-center">
                © Ozi Rent a Car 2021 - Tüm Hakları Saklıdır.
            </div>
        </div>
    </div>
</footer>