<div class="navbar-dark bg-dark navbar-comp">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand"><i class="fas fa-car"></i> Ozi Rent a Car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" >Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="car-page" >Araçlar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="brand" >Markalar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="color" >Renkler</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ekle
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLink="/brand/add" class="dropdown-item">Marka Ekle</a>
                <a routerLink="/color/add" class="dropdown-item" >Renk Ekle</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/car/add" >Araba Ekle</a>
              </div>
            </li>
            
          </ul>

          <div class="margin-side">
            
            <button 
            routerLink="/cart/"
            class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fas fa-shopping-cart"></i>
              Sepetim</button>

              <button
              *ngIf="!isAuth"
              class="btn btn-outline-primary"
              routerLink="/login/"
              >
              <i class="fas fa-user"></i>
                Giriş Yap
              </button>

          </div>
          
          <div *ngIf="isAuth" class="account-nav">
            <button class="btn btn-outline-secondary">
              <i class="fas fa-user"></i> {{user.firstName}} {{user.lastName}}
              <span class="findex-point">
                ({{user.customerFindexPoint}} <i class="fas fa-star"></i>)
              </span>
            </button>

            <div class="account-nav-dropdown">
              <div class="account-nav-dropdown-pad">
                <p>{{user.firstName}} {{user.lastName}}</p>

                <a routerLink="/profile" class="account-nav-dropdown-pad-user" ><i class="fas fa-user"></i> Bilgilerimi Düzenle</a>
                <a class="account-nav-dropdown-pad-user" (click)="logout()" ><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
              </div>
            </div>

          </div>
     
        </div>
      </nav>
    </div>
</div>
