<app-section-background 
data="Marka Güncelleme Sayfası"
></app-section-background>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <form [formGroup]="brandUpdateForm" >
                <div class="form-group">
                    <label for="name">Araba Markası</label>
                    <input [(ngModel)]="brand.name" formControlName="name" type="text" name="name" class="form-control" >
                </div>
                <button 
                (click)="updateBrand()"
                class="btn btn-outline-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>