
   <div class="slider">
        
        <input type="radio" name="slider" checked="checked">
        <div class="imgBx">
            <img src="../../../assets/images/slider2.jpg" alt="">
            <div class="content">
                <h2>Ozi Rent a Car</h2>
                <p>Kalitenin, varılması gereken bir hedeften çok, gelişme ve süreklilik göstermesi gereken bir süreç olduğuna inanmaktayız. 
                    Bu düşünce çerçevesinde; müşteri memnuniyetini ana hedef olarak benimseyen şirketimiz, siz değerli müşterilerimize en iyi hizmeti sağlamaktadır.
                </p>
            </div>
        </div>
        <input type="radio" name="slider" >
        <div class="imgBx">
            <img src="../../../assets/images/slider4.jpg" alt="">
            <div class="content">
                <h2>Ozi Rent a Car</h2>
                <p>Kalitenin, varılması gereken bir hedeften çok, gelişme ve süreklilik göstermesi gereken bir süreç olduğuna inanmaktayız. 
                    Bu düşünce çerçevesinde; müşteri memnuniyetini ana hedef olarak benimseyen şirketimiz, siz değerli müşterilerimize en iyi hizmeti sağlamaktadır.
                </p>    
            </div>
        </div>
        <input type="radio" name="slider" >
        <div class="imgBx">
            <img src="../../../assets/images/slider3.jpg" alt="">
            <div class="content">
                <h2>Ozi Rent a Car</h2>
                <p>Kalitenin, varılması gereken bir hedeften çok, gelişme ve süreklilik göstermesi gereken bir süreç olduğuna inanmaktayız. 
                    Bu düşünce çerçevesinde; müşteri memnuniyetini ana hedef olarak benimseyen şirketimiz, siz değerli müşterilerimize en iyi hizmeti sağlamaktadır.
                </p>    
            </div>
        </div>

    </div>

<div class="row">
    <div class="col-md-3 side-bar">
        <div class="row">
            <div class="col-md-12">
                <app-brand></app-brand>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-color></app-color>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <app-car></app-car>
    </div>
</div>