*{
    box-sizing: border-box;
}

.buton-space{
    display: flex;
    justify-content: space-between;
}

.btn-get{

    padding: 0;

    & button{
        width: 100%;
        margin: 0 5px;
    }
    
}