<app-section-background 
data="Renk Güncelleme Sayfası"
>

</app-section-background>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="colorUpdateForm" >
                <div class="form-group">
                    <label for="name">Renk Adı</label>
                    <input [(ngModel)]="color.name" formControlName="name" type="text" name="name" class="form-control">
                </div>
                <button 
                (click)="updateBrand()"
                class="btn btn-outline-primary"
                >Güncelle</button>
            </form>
        </div>
    </div>
</div>